:root {
  --foreground: hsl(73, 90%, 4%);
  --background: hsl(88, 100%, 97%);
  --primary: hsl(81, 99%, 61%);
  --subtitle: hsl(0, 0%, 40%);
  --spacing-section: 80px;
  --spacing-grid: 40px;
  --border-radius: 12px;

  --color-text-primary: hsl(0, 0%, 10%);
  --color-text-secondary: hsl(0, 0%, 40%);
  --color-accent: hsl(43, 96%, 56%);
  --color-bg: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  color: var(--foreground);
  background-color: var(--background);
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.container {
  width: min(100% - 2rem, 170.75ch);
  margin-inline: auto;
}
