---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Emily - UI/UX Designer - Home">
  <header><Navbar /></header>
  <main>
    <Hero />
  </main>
  <footer>
    <h3>Footer teste</h3>
  </footer>
</Layout>
